@charset "UTF-8";

body{
    background-color: beige;
    font-family: Arial;
    font-size: 15px;
}
h1{
    size: 1.5em;
    color: blueviolet;
}
h2{
    color: rgb(148, 105, 188);
}
p{
    align-items: center;
}