@charset "UTF-8";

body, html{
    margin: 0px;
    padding: 0px;
    background: url('../imagens/tela-youtube.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 430vh;
    cursor: grab;
    cursor: -webkit-grab;
    cursor:-moz-grab;
}


body:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor:-moz-grabbing;
}

.wrapper {
    position: relative;
}

.grab-cursor {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: grab;
    cursor: -webkit-grab;
    cursor:-moz-grab;
    z-index: 100;
}
.grab-cursor:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor:-moz-grabbing;
}
