@charset "UTF-8";

:root{
    --fonte1: 'Passion One', 'Cursive';
    --fonte2: 'Sriracha', 'Cursive';
}

header{
    font-family: var(--fonte1);
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
    padding: 1px;
    height: 300px;
    text-transform: small-caps;    /*Deixa as iniciais em maiúsculo*/
}

html, body{
    min-height: 100vh;
}

header > h1{
    margin-top: 100px;
    font-size: 6em;
}

header > a{
    text-decoration: none;
    color: white;
    padding: 0px;
}

body{
    font-family: 'Sriracha', sans-serif;
    font-weight: bolder;
    font-style: italic;
    margin: auto;
}

section{
    font-family: var(--fonte2);
    padding-left: 10px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3em;
    line-height: 10 vh;
}

.back{
    background-image: url('imagens/background001.jpg');
    height: 130vh;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding:60px;
    padding-left: 30px;
}

.back2{
    background-image: url('imagens/background002.jpg');
    height: 130vh;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding:60px;
    padding-left: 30px;
}

.caixatrans{
    max-width: 500px;
    height: 760px;
    width: 50%;
    opacity: 0.5;
    background-color: black;
    color: white;
    padding: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
    font-family: 'sens-serif';
    font-weight: normal;
    font-style: normal;
    font-size: 1.3em;
}

footer > a{
    color: white;
    text-decoration: none;
    font-family: 'sens-serif';
    font-size: 1.3em;
}