@charset "UTF-8";

:root{
    --fonte1: 'Passion One', 'Cursive';
    --fonte2: 'Sriracha', 'Cursive';
    --fonte3: 'Verdana', 'Sens-serif'
    /* A fonte utilizada ñ quer funcionar, outros comentários do YT dizem a mesma coisa.*/
}

*{
    font-size: 5vw;
}

html, body{
    min-height: 100vh;
    margin: 0px;
    font-family: var(--fonte2);
}

header{
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0px;
    padding-top: 1px;
    height: 250

}

header > h1{
    font-family: var(--fonte1);
    padding-top: 20px;
}

header > a{
    text-decoration: none;
    color: white;
    padding-bottom: 50px;
    font-family: var(--fonte3);
    font-size: 0.3em;
}

header > p{
    font-size: 0.3em;
    padding-bottom: 100px;
    line-height: 2px;
}

section{
    padding-left: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3em;
    line-height: 10 vh;
    font-size: 3.5vw;
}
.caixatrans > p{
    font-size: 3vw;
}

.back{
    background-image: url('imagens/background001.jpg');
    height: 120vh;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px;
    padding-left: 30px;
}

.back2{
    background-image: url('imagens/background002.jpg');
    height: 130vh;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding:60px;
    padding-left: 30px;
}

.caixatrans{
    max-width: 25vw;
    height: 90vh;
    width: 50%;
    opacity: 0.5;
    background-color: black;
    color: white;
    padding: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
    font-family: var(--fonte3);
    font-weight: normal;
    font-style: normal;
    font-size: 0.5em;
}

footer > a{
    color: white;
    text-decoration: none;
    font-family: 'sens-serif';
    font-size: 1.3em;
}